<footer class="br-footer">
  <div class="container-lg">
    <div class="br-list horizontal" data-toggle="data-toggle" data-sub="data-sub">
      <div class="col-2">
        <a class="br-item header" href="javascript:void(0)">
          <div class="content text-down-01 text-bold text-uppercase">Support</div>
          <div class="support"><i class="fas fa-angle-down" aria-hidden="true"></i></div
        ></a>
        <div class="br-list">
          <span class="br-divider d-md-none"></span
          ><a class="br-item" href="javascript:void(0)">
            <div class="content">Manage your trips</div></a
          ><a class="br-item" href="javascript:void(0)">
            <div class="content">Contact Customer Service</div></a
          ><a class="br-item" href="javascript:void(0)">
            <div class="content">Safety Resource Center</div></a
          ><span class="br-divider d-md-none"></span>
        </div>
      </div>
      <div class="col-2">
        <a class="br-item header" href="javascript:void(0)">
          <div class="content text-down-01 text-bold text-uppercase">Discover</div>
          <div class="support"><i class="fas fa-angle-down" aria-hidden="true"></i></div
        ></a>
        <div class="br-list">
          <span class="br-divider d-md-none"></span
          ><a class="br-item" href="javascript:void(0)">
            <div class="content">Genius loyalty program</div></a
          ><a class="br-item" href="javascript:void(0)">
            <div class="content">Seasonal and holiday deals</div></a
          ><span class="br-divider d-md-none"></span>
        </div>
      </div>
      <div class="col-2">
        <a class="br-item header" href="javascript:void(0)">
          <div class="content text-down-01 text-bold text-uppercase">Terms and settings</div>
          <div class="support"><i class="fas fa-angle-down" aria-hidden="true"></i></div
        ></a>
        <div class="br-list">
          <span class="br-divider d-md-none"></span
          ><a class="br-item" href="javascript:void(0)">
            <div class="content">Privacy Notice</div></a
          ><a class="br-item" href="javascript:void(0)">
            <div class="content">Terms of Service</div></a
          ><a class="br-item" href="javascript:void(0)">
            <div class="content">Accessibility Statement</div></a
          ><span class="br-divider d-md-none"></span>
        </div>
      </div>
      <div class="col-2">
        <a class="br-item header" href="javascript:void(0)">
          <div class="content text-down-01 text-bold text-uppercase">Partners</div>
          <div class="support"><i class="fas fa-angle-down" aria-hidden="true"></i></div
        ></a>
        <div class="br-list">
          <span class="br-divider d-md-none"></span
          ><a class="br-item" href="javascript:void(0)">
            <div class="content">Extranet login</div></a
          ><a class="br-item" href="javascript:void(0)"> <div class="content">Partner help</div></a
          ><a class="br-item" href="javascript:void(0)">
            <div class="content">List your property</div></a
          ><span class="br-divider d-md-none"></span>
        </div>
      </div>
      <div class="col-2">
        <a class="br-item header" href="javascript:void(0)">
          <div class="content text-down-01 text-bold text-uppercase">About</div>
          <div class="support"><i class="fas fa-angle-down" aria-hidden="true"></i></div
        ></a>
        <div class="br-list">
          <span class="br-divider d-md-none"></span
          ><a class="br-item" href="javascript:void(0)"> <div class="content">How We Work</div></a
          ><a class="br-item" href="javascript:void(0)">
            <div class="content">Sustainability</div></a
          ><span class="br-divider d-md-none"></span>
        </div>
      </div>
    </div>
  </div>
  <span class="br-divider my-3"></span>
  <div class="container-lg">
    <div class="info">
      <div class="text-down-01 text-medium pb-3">
        <p>Ranidu Nethma 2026</p>
      </div>
    </div>
  </div>
</footer>
